In [1]:
# 2. Import required libraries
import seaborn as sns
import pandas as pd
import numpy as np
import pprint

In [2]:
# 3 Read your cleaned csv which you did in phase 1
data = pd.read_csv('./clean_data.csv')

In [3]:
# 4. Shape the data
# I don't know what "shaping data" means, so I did this
df = pd.DataFrame(data)
df.shape

(9904, 11)

In [4]:
# 5. Show first five record
pprint.pprint(data[0:5])

                    Name Platform  Year_of_Release     Genre Publisher  \
0             Wii Sports      Wii           2006.0    Sports  Nintendo
1         Mario Kart Wii      Wii           2008.0    Racing  Nintendo
2      Wii Sports Resort      Wii           2009.0    Sports  Nintendo
3  New Super Mario Bros.       DS           2006.0  Platform  Nintendo
4               Wii Play      Wii           2006.0      Misc  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales Developer
0     41.36     28.96      3.77         8.45         82.53  Nintendo
1     15.68     12.76      3.79         3.29         35.52  Nintendo
2     15.61     10.93      3.28         2.95         32.77  Nintendo
3     11.28      9.14      6.50         2.88         29.80  Nintendo
4     13.96      9.18      2.93         2.84         28.92  Nintendo

In [5]:
# 6 Show all columns of the dataframe
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Developer'],
      dtype='object')

In [6]:
# 7 Show last 5 five rows
pprint.pprint(data[len(data)-1:len(data)-6: -1])

                               Name Platform  Year_of_Release       Genre  \
9903  Men in Black II: Alien Escape       GC           2003.0     Shooter
9902                        15 Days       PC           2009.0   Adventure
9901                       Plushees       DS           2008.0  Simulation
9900        STORM: Frontline Nation       PC           2011.0    Strategy
9899               Mega Brain Boost       DS           2008.0      Puzzle

                  Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
9903             Infogrames      0.01      0.00       0.0          0.0
9902      DTP Entertainment      0.00      0.01       0.0          0.0
9901              Destineer      0.01      0.00       0.0          0.0
9900                Unknown      0.00      0.01       0.0          0.0
9899  Majesco Entertainment      0.01      0.00       0.0          0.0

      Global_Sales           Developer
9903          0.01               Atari
9902          0.01   DTP Entertainment
9901          0.01      Big John Games
9900          0.01              SimBin
9899          0.01  Interchannel-Holon

In [7]:
# 8 Describe the data.
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,9904.000000,9904.000000,9904.000000,9904.000000,9904.000000,9904.000000
mean,2007.644588,0.315013,0.181576,0.046522,0.064039,0.607404
std,4.136895,0.821243,0.583894,0.241876,0.228569,1.664331
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2005.000000,0.050000,0.010000,0.000000,0.010000,0.080000
50%,2008.000000,0.120000,0.040000,0.000000,0.020000,0.210000
75%,2010.000000,0.300000,0.150000,0.000000,0.050000,0.560000
max,2020.000000,41.360000,28.960000,6.500000,10.570000,82.530000

In [9]:
# 9. Group the sales data of each region on Year_of_Release and plot the same 
# (It should show which region sales was at peak on which year of release)
group = df.groupby(by="Year_of_Release")
sns.heatmap(group, cbar=False)

/usr/local/lib/python3.9/site-packages/seaborn/matrix.py:105: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  plot_data = np.asarray(data)

ValueError: setting an array element with a sequence.